<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/toastr.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <title>联通年终活动批量处理程序 - 帮助</title>
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">帮助说明</h3>
        </div>
        <div class="panel-body" style="text-align:center">
            <h1>使用说明：打开联通手机营业厅，随便帮一个人，此时可以抓到提交的地址，把（encryptMobile）数据拿出来使用</h1>
            <br>
            <h1>运行程序，访问网站，填写对应的数据，即可愉快的使用了！</h1>
            <br>
            <img src="../static/img/help.png" style="width:95%">
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">功能栏</h3>
        </div>
        <div class="panel-body">
            <a href="/" class="btn btn-success" title="前往首页">首页</a>
            <a href="/Auto" class="btn btn-success" title="我懒，我需要自动处理邀请码">邀请码</a>
            <a href="/Help" class="btn btn-warning" title="我猜，你可能需要帮助">帮助</a>
            <a href="http://blog.zgcwkj.cn" target="_blank" class="btn btn-link">作者：zgcwkj</a>
            <a href="http://github.com/zgcwkj/Unicom_friendHelp" target="_blank" class="btn btn-link">源码：FriendHelp</a>
        </div>
    </div>
</body>
</html>